@model List<WedBanQuanAo.Models.HoaDon>

@{
    ViewBag.Title = "TTGioHang";
    Layout = "~/Views/Shared/_LayoutPageDonHang.cshtml";
}

<div id="container-fluid mt-2">
    <h2 class="mb-3 text-center">Thông Tin Giỏ Hàng</h2>
    <div style="margin:0 5% 0 5%;">
        <span>Bạn đã có tài khoản ? <a href="/Auth/DangNhap">Đăng nhập</a></span>

        <table style="width: 100%" class="mt-2">
            <tr>
                <td colspan="2">
                    <input id="txtHoTen" class="form-control mb-2" type="text" placeholder="Họ và Tên" title="nhap ho va ten" required />
                </td>
            </tr>

            <tr>
                <td style="width: 40%">
                    <input id="txtEmail" class="form-control mb-2" placeholder="Email" title="nhap sdt" required />

                </td>
                <td>
                    <input id="txtSDT" class="form-control mb-2" placeholder="Số điện thoại" type="tel" title="nhap sdt" required />

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="txtDiaChi" class="form-control mb-2" name="#" placeholder="Địa chỉ" title="nhap sdt" required />
                </td>
            </tr>


        </table>

        <table>
            <tr>
                <td>
                    @Html.DropDownList("TinhThanh", (IEnumerable<SelectListItem>) ViewBag.LstTinhThanh, "Tỉnh/Thành", new { @class = "form-control" })
                </td>

                <td>
                    @*xét theo tỉnh thành dùng ajax để load data*@
                    @Html.DropDownList("QuanHuyen", (IEnumerable<SelectListItem>) ViewBag.LstQH, "Quận/Huyện", new { @class = "form-control" })
                </td>

                <td>
                    @Html.DropDownList("XaPhuong", (IEnumerable<SelectListItem>) ViewBag.LstQH, "Xã/Phường", new { @class = "form-control" })
                </td>
            </tr>

        </table>
        <script>
            $(document).ready(function () {
                $("#TinhThanh").change(() => {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetQH")',
                        dataType: 'json',
                        data: { thID: $("#TinhThanh").val() },
                        success: function (th) {
                            const data = JSON.parse(th);
                            $("#QuanHuyen").empty();
                            $("#QuanHuyen").append('<option value>Quận/Huyện</option>')
                            for(let qh of data) {
                                $("#QuanHuyen").append(`<option value="${qh.ID}">${qh.TEN}</option>`);
                            };
                        },
                        error: function (ex) {
                            console.log(ex);
                            alert('Failed to retrieve states.' + ex);
                        }
                    });
                })

                $("#QuanHuyen").change(() => {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetXP")',
                        dataType: 'json',
                        data: { qhID: $("#QuanHuyen").val() },
                        success: function (th) {
                            const data = JSON.parse(th);
                            $("#XaPhuong").empty();
                            $("#XaPhuong").append('<option value>Xã/Phường</option>')
                            for(let xp of data) {
                                $("#XaPhuong").append(`<option value="${xp.ID}">${xp.TEN}</option>`);
                            };
                        },
                        error: function (ex) {
                            console.log(ex);
                            alert('Failed to retrieve states.' + ex);
                        }
                    });
                })
            });
        </script>

        <br />
        <div>
            <h5>Phương thức vận chuyển</h5>
        </div>
        <table style="border: solid 1px;  border-color:lightgrey" ; width="100%">
            <br />
            <tr>
                <td>

                    <input id="Checkbox1" type="checkbox" style="margin-left:10px" title="chon tick vao o" />
                    <label style="margin-top:10px">Giao hàng tiêu chuẩn</label>
                    <br />
                    <br />
                    <input id="Checkbox1" type="checkbox" style="margin-left:10px" title="chon tick vao o" required />
                    <label style="margin-bottom:10px">Giao hàng nhanh</label>
                </td>
            </tr>
        </table>

        <br />

        <div>
            <h5>Phương thức thanh toán</h5>
        </div>
        <br />
        <table style="border:solid 1px ; border-color:lightgrey" ; width="100%">
            <tr>
                <td>
                    <input id="CbMomo" type="checkbox" style="margin-left:10px" />
                    <label style="margin-top:10px">Ví MoMo</label>
                    <br />
                    <br />
                    <input id="CbVNPay" type="checkbox" style="margin-left:10px" title="chon tick vao o" required />
                    <label>Thanh toán online qua cổng VNPay (ATM/Visa/MasterCard/JCB)</label>
                    <br />
                    <br />
                    <input id="CbMoca" type="checkbox" style="margin-left:10px" title="chon tick vao o" required />
                    <label>Thanh toán online qua ví GrabMoca</label>
                    <br />
                    <br />
                    <input id="CbShopeePay" type="checkbox" style="margin-left:10px" title="chon tick vao o" required />
                    <label> Thanh toán online qua ShopeePay</label>
                    <br />
                    <br />
                    <input id="CbCOD" type="checkbox" style="margin-left:10px" title="chon tick vao o" required />
                    <label>Thanh toán tiền mặt khi nhận hàng (COD)</label>
                    <br />
                    <br />
                    <input id="CbZaloPay" type="checkbox" style="margin-left:10px" title="chon tick vao o" required />
                    <label style="margin-bottom:10px">Thanh toán online qua ví ZaloPay</label>
                </td>
            </tr>
        </table>
        <br />
        
    </div>
    <div class="text-center">
            <a href="#" class="btn" style="font-size: 24px;background-color:cornflowerblue;color:white" title="Xác nhận">Xác nhận</a>
    </div>

</div>


