@model List<WedBanQuanAo.Models.HOADON>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutPageHome2.cshtml";
}
<style>
    #divNavigation {
        display: none;
    }
</style>
@*<h2 class="text-center mt-3">Giỏ hàng</h2>
<div class="table-responsive">
    <table class="table">
        <thead class="table-success">
            <tr>
                <th>#</th>
                <th>Sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Thành tiền</th>
                <th></th>
                <th class="text-center">
                    <a href="~/GioHang/XoaGioHang_All" title="Xóa tất cả">
                        <span style="color:#000; font-size: 1.3em">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </a>
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Select((data, i) => new { data, i }))
            {
                <tr>
                    <td>@(item.i + 1)</td>

                    @if (item.data.Sp.TenSP.Length > 30)
                    {
                        <td>@item.data.Sp.TenSP.Substring(0, 30)...</td>
                    }
                    else
                    {
                        <td>@item.data.Sp.TenSP</td>
                    }
                    <td>
                        <img src="~/Images/SP/@item.data.Sp.HinhAnh" width="180px" /></td>
                    @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @MaSP = item.data.Sp.Id }))
                    {

                        }
                        <td>
                            <input type="number" min="1" name="txtSoLuong" value="@item.data.Sp.SoLuong" max="99" /></td>
                        <td>
                            <pre>@String.Format("{0:0,0} VND", item.data.Sp.Gia)</pre>
                        </td>
                        <td>
                            <pre>@String.Format("{0:0,0} VND", item.data.Sp.Gia * @item.data.Sp.SoLuong)</pre>
                        </td>
                        <td><a href="@Url.Action("XemChiTiet", "SanPham", new { @maSP = item.data.Sp.Id })">Details</a></td>
                        <td>@Html.ActionLink("Delete", "XoaGioHang", new { @MaSP = item.data.Sp.Id })</td>
                        <td>
                            <input type="submit" value="Update" class="btn btn-primary" /></td>
                    }
                </tr>
            }
        </tbody>
        <tfoot class="table-success">
            <tr>
                <td colspan="3" style="color: blue; font-weight: bold; text-align: right;">Tổng cộng</td>
                <td style="color: red; font-weight: bold;">@ViewBag.TongSoLuong</td>
                <td></td>
                <td colspan="3" style="color: red; font-weight: bold;">@String.Format("{0:0,0} VND", @ViewBag.TongThanhTien)</td>
                <td class="text-center">
                    <a href="~/GioHang/DatHang" style="text-decoration:none" title="Đặt hàng">
                        <span style="color:#000; font-size: 1.4em">
                            <i class="fas fa-money-bill-wave"></i><pre style="font-size: 1em">Đặt hàng</pre> 
                        </span>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>*@


    <!-- Breadcrumb Section Begin -->
<div class="width-details">
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Select((data, i) => new { data, i }))
                                {

                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img src="~/Images/SP/@item.data.Sp.HinhAnh" alt="" width="100px">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6>
                                                    @if (item.data.Sp.TenSP.Length > 30)
                                                    {
                                                        @item.data.Sp.TenSP.Substring(0, 30) }
                                                    else
                                                    {
                                                        @item.data.Sp.TenSP}
                                                </h6>
                                                <h5>@String.Format("{0:0,0} VND", item.data.Sp.Gia)</h5>
                                            </div>
                                        </td>
                                        @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @MaSP = item.data.Sp.Id }))
                                        {
                                            <td class="quantity__item">
                                                <div class="quantity">
                                                    <div class="pro-qty-2">
                                                        <input min="1" name="txtSoLuong" type="text" value="@item.data.Sp.SoLuong">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="cart__price">@String.Format("{0:0,0} VND", item.data.Sp.Gia * @item.data.Sp.SoLuong)</td>
                                            <td class="cart__close">@Html.ActionLink("Delete", "XoaGioHang", new { @MaSP = item.data.Sp.Id  }, new { @class = "btnUpdate", })</td>
                                            <td><input type="submit" value="Update" class="btnUpdate" /></td>
                                        }
                                    </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="#">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>@String.Format("{0:0,0} VND", @ViewBag.TongThanhTien)</span></li>
                            <li>Total <span>@String.Format("{0:0,0} VND", @ViewBag.TongThanhTien)</span></li>
                        </ul>
                        <a href="#" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <!-- Shopping Cart Section End -->





    @if (@ViewBag.Info == "ERR")
    {
<script>
        Toast.fire({
            icon: 'warning',
            title: '@ViewBag.Message'
        });
</script>
                @ViewBag.Clear()}
